<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/about.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Ujjwal Akash. It uses data from mapbox.com and darksky.net!</p>
       <b>Darksky.net -</b> <br>
        <br>
The Dark Sky API allows you to look up the weather anywhere on the globe, returning (where available):
<ul>
<li>Current weather conditions</li>
<li>Minute-by-minute forecasts out to one hour</li>
<li>Hour-by-hour and day-by-day forecasts out to seven days</li>
<li>Hour-by-hour and day-by-day observations going back decades</li>
</ul>
<br>
<b>
    Mapbox.com -
</b>
<br>
<br>
Mapbox is a developer platform used across industries to create custom applications that solve problems with maps, data, and spatial analysis.
 Mapbox's tools are building blocks that support every part of the web and mobile map-making process.
        <img class="portrait" src="/img/about.png">
    </div>
    
    {{>footer}}
</body>

</html>